[data-role="bottom-edge"] {
    position: fixed;
    top: 100%;
    display: block;
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    z-index: 1000;
    -webkit-transition: top 0.3s;
    box-shadow: 0 -0px 1px rgba(0, 0, 0, 0.2);
}

[data-role="bottom-edge"] .tab {
    position: absolute;
    height: 30px;
    width: 120px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #f0f0f0;
    text-align: center;
    top: -25px;
    left: 50%;
    margin-left: -60px;
}
