[data-role="list"] [data-role="swipeable"] {
    width:100%;
    height:100%;
    position:relative;
    overflow:visible;
    -webkit-transition: left 0s;
}

[data-role="list"] [data-role="swipeable"] ul {
    white-space:nowrap;
    list-style-type:none;
    padding:0;
    margin:0;
    width:100%;
    overflow:visible;
}

[data-role="list"] [data-role="swipeable"] ul li {
    vertical-align:top;
    display:inline-block;
    padding: 2px 10px;
    width:60px;
    //border-left: thin solid #888888;
}

[data-role="list"] [data-role="swipeable"] ul li.middle {
    width:100%;
    //border-left: thin solid #888888;
}

[data-role="list"] [data-role="swipeable"] ul a {
    display:inline;
    height:100%;
    width:100%;
    border-top:none;
    line-height:100%;
    text-align:center;
    background:none;
    padding:0px;
}

[data-role="list"] [data-role="swipeable"] ul img {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
}
